.backGroundContainer{
  background-color: #F2F2F2;
}
.mainContainer{
  min-height: calc(100vh - 316px);
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px)  {
  .mainContainer{
    min-height: calc(100vh - 205px)
  }
  .grid {
       width: 100%;
       flex-direction: column;
     }
}